In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

#Makes some extra dataframes
df = purchase_data.copy()
df2 = df.copy()

In [2]:
#Checkin out the data 
df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [3]:
# Gets the total number of players
players = pd.unique(df["SN"])
players_df = pd.DataFrame(players)
p_count = players_df.count()

#Makes a dataframe to hold the total number of players
total_p = pd.DataFrame()
total_p["Total Players"] = p_count
total_p.head()

   Total Players
0            576

In [4]:
#Gets the total number of unique items
items = pd.unique(df["Item ID"])
items_df = pd.DataFrame(items)
i_count = items_df.count()

#Gets the total revenue 
revenue = df["Price"].sum()

#Calculates the Number of Purchases
purchases = df["Purchase ID"].count()

#Calculates the average price per sale
average_price = revenue/purchases

#Makes a dataframe to hold the incredibly valuable information
summary = pd.DataFrame()
summary["Number of Unique Items"] = i_count
summary["Average Price"] = average_price.round(2)
summary["Number of Purchases"] = purchases
summary["Total Revenue"] = revenue
summary

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     183           3.05                  780        2379.77

In [7]:
#Creates a Dataframe with only unique players and their genders
unique = df2.drop(columns = ["SN","Age","Item ID","Item Name","Price","Purchase ID"])
unique = unique.merge(players_df, how='outer', left_index = True, right_index = True)
unique = unique.dropna()

#Takes the value count of each player by gender and assigns it to a variable
gender = unique["Gender"].value_counts()
male = gender[0]
female = gender[1]
na = gender[2]
gsum = male + female + na
percent_m = (male/gsum)*100
percent_f = (female/gsum)*100
percent_n = (na/gsum)*100

#Creates a new DataFrame with all the information
gender_df = pd.DataFrame(
    {"Gender": ["Male", "Female", "Other / Non-Disclosed"],
     "Total Count": [male,female,na],
     "Percentage of Players" : [percent_m.round(2),percent_f.round(2),percent_n.round(2)]  
    }
)
gender_df = gender_df.set_index("Gender")
gender_df

                       Total Count  Percentage of Players
Gender
Male                           476                  82.64
Female                          88                  15.28
Other / Non-Disclosed           12                   2.08